@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #111111;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

canvas {
  background: transparent;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  border: 2px solid #eb0202;
}

button {
  padding: 5px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background: #eb0202;
  color: white;
  border-radius: 5px;
  position: absolute;
  bottom: 5%;
  box-shadow: 0 0 10px 0 #eb0202;
  left: 50%;
  transform: translateX(-50%);
}

button:hover {
  background: #000;
  color: #eb0202;
}

#scoreBoard{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

#score{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 1.5rem
}

.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.img-container > img {
  width: 80vw;
  height: 100vh;
  z-index: 0;
  object-fit: cover;
}

body > h1 {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
